.site-header {
  height: 70px;
  padding: 0 40px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.logo span {
  color: #3b82f6;
}

#nav-links {
  display: flex;
  gap: 28px;
}

#nav-links a {
  color: #cbd5e1;
  text-decoration: none;
  font-size: 15px;
}

#nav-links a:hover {
  color: white;
}

.profile-box {
  position: relative;
  cursor: pointer;
}

.profile-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #3b82f6;
}

.profile-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background: #020617;
  border-radius: 10px;
  width: 150px;
  padding: 10px;
  display: none;
}

.profile-box.open .profile-dropdown {
  display: block;
}

.profile-dropdown a,
.profile-dropdown button {
  display: block;
  width: 100%;
  padding: 8px;
  background: none;
  border: none;
  color: white;
  text-align: left;
  cursor: pointer;
}

.profile-dropdown button:hover,
.profile-dropdown a:hover {
  background: #1e293b;
}

.hidden {
  display: none;
}
