body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #050608;
  color: white;
}

/* HERO */
.hero {
  height: 80vh;
  background: linear-gradient(
      rgba(0,0,0,0.65),
      rgba(0,0,0,0.65)
    ),
    url("../assets/hero-food.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  max-width: 600px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #f6b500;
}

.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #e0e0e0;
}

.cta-btn {
  padding: 12px 30px;
  background: #f6b500;
  color: #111;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
}

.cta-btn:hover {
  background: #ffce37;
}

/* HIGHLIGHTS */
.highlights {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 60px 20px;
  background: #0b0f16;
}

.highlight-card {
  background: #141821;
  padding: 25px;
  border-radius: 12px;
  width: 260px;
  text-align: center;
}

.highlight-card h3 {
  color: #f6b500;
  margin-bottom: 10px;
}
